<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2020 Felix Hollederer
  ~     This file is part of GymWenApp.
  ~
  ~     GymWenApp is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     GymWenApp is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with GymWenApp.  If not, see <https://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.asdoi.gymwen">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".ApplicationFeatures"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Light"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute">
        <activity
            android:name=".ui.activities.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <!-- for Pheonix -->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.WebsiteActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:host="gym-wen.de" />
                <data android:host="www.gym-wen.de" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.SubstitutionTimeTableActivity"
            android:label="@string/timetable_activity_title"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.TeacherListActivity"
            android:label="@string/menu_teacher_list" />
        <activity
            android:name=".ui.activities.AppIntroActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.RoomPlanActivity"
            android:label="@string/room_plan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activities.SignInActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_sign_in"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.ChoiceActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_choice"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activities.SettingsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_settings" />
        <activity android:name=".ui.activities.SubstitutionWidgetActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.SummaryWidgetActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver android:name=".widgets.SubstitutionWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_substitutionplan" />
        </receiver>
        <receiver android:name=".widgets.SummaryWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_summary" />
        </receiver>
        <receiver android:name=".widgets.RefreshWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_refresh" />
        </receiver>
        <receiver
            android:name=".receivers.CheckSubstitutionPlanReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.NotificationDismissButtonReceiver"
            android:enabled="true" />
        <receiver
            android:name=".receivers.AlarmReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.OpenAppReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name=".widgets.SubstitutionWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service
            android:name=".services.NotificationTileService"
            android:icon="@drawable/ic_notifications_black_24dp"
            android:label="@string/tile_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
        </service>


        <!-- Timetable -->
        <activity
            android:name="com.ulan.timetable.activities.MainActivity"
            android:label="@string/timetable_activity_title"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.ulan.timetable.activities.HomeworksActivity"
            android:label="@string/homeworks_activity_title" />
        <activity
            android:name="com.ulan.timetable.activities.NotesActivity"
            android:label="@string/notes_activity_title" />
        <activity
            android:name="com.ulan.timetable.activities.NoteInfoActivity"
            android:label="@string/note"
            android:parentActivityName="com.ulan.timetable.activities.NotesActivity" />
        <activity
            android:name="com.ulan.timetable.activities.SettingsActivity"
            android:label="@string/menu_settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ulan.timetable.activities.MainActivity" />
        </activity>
        <activity
            android:name="com.ulan.timetable.activities.ExamsActivity"
            android:label="@string/exams_activity_title" />
        <activity
            android:name="com.mikepenz.aboutlibraries.ui.LibsActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />

        <receiver
            android:name="com.ulan.timetable.receivers.DailyReceiver"
            android:enabled="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.ulan.timetable.receivers.TurnOnReceiver"
            android:enabled="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.ulan.timetable.receivers.TurnOffReceiver"
            android:enabled="true" />
    </application>

</manifest>