<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asdoi.gymwen">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <!-- <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".DummyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/gymlogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/gymlogo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".main.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />


                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.SignInActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_sign_in"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".main.ImpressumActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/impressum_headline" />
        <activity
            android:name=".main.WebsiteActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:host="gym-wen.de" />
                <data android:host="www.gym-wen.de" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.ChoiceActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_choice"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".main.SettingsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_settings" />
        <activity android:name=".EmptyActivity">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <receiver android:name=".VertretungsplanWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/vertretungsplan_widget_info" />
        </receiver>

        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.DATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".NetworkReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".NotificationService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".GradesManagementService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>